{block content}
<div class="container">
    <div class="card">
        <div class="card-header"> Faktura <strong>{$reservation->reserved|date:"%d.%m.%Y"}</strong> <span
                    class="float-right"> <strong>Status:</strong> {$reservation->value}</span></div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6"><h6 class="mb-3">From:</h6>
                    <div><strong>Kratos</strong></div>
                    <div>Švermova 488</div>
                    <div>460 01 Liberec 1</div>
                </div>
                <div class="col-sm-6"><h6 class="mb-3">To:</h6>
                    <div><strong>{$reservation->firstname} {$reservation->lastname}</strong></div>
                    <div>Email: {$reservation->email}</div>
                </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Ubytování
                        <th>
                        <th class="right">Cena za noc</th>
                        <th class="center">Počet nocí</th>
                        <th class="right">Celkem</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="left strong">{$reservation->name}</td>
                        <td></td>
                        <td class="right">{$reservation->price|number:0,",":"&nbsp"|noescape} Kč</td>
                        <td class="center">{$reservation->DateDiff}</td>
                        <td class="right">{$reservation->price*$reservation->DateDiff|number:0,",":"&nbsp"|noescape}
                            Kč
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5"></div>
                <div class="col-lg-4 col-sm-5 ml-auto">
                    <table class="table table-clear">
                        <tbody>
                        <tr>
                            <td class="left"><strong>Celkem</strong></td>
                            <td class="right">
                                <strong>{$reservation->price*$reservation->DateDiff|number:0,",":"&nbsp"|noescape}
                                    Kč</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

